{% extends "base.html" %}

{% block content %}


<div class="container mt-5">
    <h2>Add New Book</h2>

    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Book Title</label>
            <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Enter book name"
                required
            >
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input
                type="text"
                class="form-control"
                id="author"
                name="author"
                required
            >
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input
                type="text"
                class="form-control"
                id="category"
                name="category"
                required
            >
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select
                class="form-select" required
                id="status"
                name="status"
            >
            <option>Available</option>
            <option>Issued</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">
            Add Book
        </button>
    </form>
</div>

{% endblock %}